// $section-spacing-mobile: var(--section-space-mobile);
// $section-spacing-desktop: var(--section-space-desktop);

$primary-color: #15234a;
$secondary-color: #785695;
$secondary-color-light: #855499;
$secondary-color-light-text: #94539c;
$background-sections: #ededed;
$background-sections-card: #F8F8F8;
$color-text: #172249;
$color-title-decorated: #eee;
$dressing-color: #0073be;


// Breakpoints

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 414px;

$tablet-s: 600px; 
$tablet-m: 768px; 
$tablet-l: 1024px;

$desktop-s: 1280px; 
$desktop-m: 1366px; 
$desktop-l: 1440px; 
$desktop-xl: 1920px;
