// $section-spacing-mobile: var(--section-space-mobile);
// $section-spacing-desktop: var(--section-space-desktop);

$primary-color: #15234a;
$secondary-color: #785695;
$secondary-color-light: #855499;
$secondary-color-light-text: #94539c;
$background-sections: #ededed;
$background-sections-card: #F8F8F8;
$color-text: #172249;
$color-title-decorated: #eee;
$dressing-color: #0073be;