body[data-copy-treatment='true'] .planBlock{
  display: flex;
  flex-direction: column;
}

body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans{
  align-items: stretch;
}

body[data-copy-treatment='true'] .planBlock .monthly_plans .price{
  justify-content: start;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 12px;
}

body[data-copy-treatment='true']  .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.item-1.mobile,
body[data-copy-treatment='true']  .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.item-2.mobile,
body[data-copy-treatment='true']  .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.pre_order.mobile{
    margin-top: auto;
  }

body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .plan_des{
  margin-top: 0;
}

body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .plan_des>.plan_des{
  margin-top: 13px;
}

body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.item-1.desktop,
body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.item-2.desktop,
body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.pre_order.desktop{
  display: none !important;
}

body[data-copy-treatment='true'] .pdm-step_content_v2 .pdm_price-stock-left{
  width: 100% !important;
}

/* desktop */
@media screen and (min-width: 1024px) {
  body[data-copy-treatment='true'] .pdm-step_content_v2 .price.pmd_price-first-elemnt .price-row{
    align-items: center;
  }

  body[data-copy-treatment='true'] .planBlock .monthly_plans .price{
    flex-direction: row;
  }

  body[data-copy-treatment='true'] .planBlock .monthly_plans .price.pmd_price-first-elemnt{
    flex-direction: column;
  }

  body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.item-1.mobile,
  body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.item-2.mobile,
  body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.pre_order.mobile{
    display: none !important;
  }
  
  body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.item-1.desktop,
  body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.item-2.desktop,
  body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .saved_price.pre_order.desktop{
    display: block !important;
    margin: 0;
    margin-right: 16px;
  }

  body[data-copy-treatment='true'] .pdm-step_content_v2 .price.pmd_price-first-elemnt{
    justify-content: center;
  }

  body[data-copy-treatment='true'] .pdm-step_content_v2 .planBlock .monthly_plans .price{
    gap: 0;
  }

}